In [1]:
#Load Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#Load Dataset
data=pd.read_csv('./mtcars.csv')
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
#Drop Model Column
data2=data.drop('model',axis=1)
data2.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [8]:
#Create Standard Model

#Define x and y variable
x = data2.drop('mpg',axis=1).to_numpy()
y = data2['mpg'].to_numpy()

#Create Train and Test Datasets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

#Scale the Data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train2 = sc.fit_transform(x_train)
x_test2 = sc.transform(x_test)

#Model
from sklearn.linear_model import LassoLarsIC

In [12]:
#Create Model

from sklearn import metrics

for name,method in [('Linear regression-AIC', LassoLarsIC(criterion='aic')),
                    ('Linear regression-BIC', LassoLarsIC(criterion='bic'))]: 
    method.fit(x_train2,y_train)
    predict = method.predict(x_test2)

    print('\nOriginal Model')
    print('\nMethod: {}'.format(name))   

    #Coefficents
    print('\nIntercept: {:.2f}'.format(float(method.intercept_)))
    coeff_table=pd.DataFrame(np.transpose(method.coef_),data2.drop('mpg',axis=1).columns,columns=['Coefficients'])
    print(coeff_table)
    
    #R2,MAE,MSE and RMSE
    print('\nR2: {:.2f}'.format(metrics.r2_score(y_test,predict)))
    print('Mean Absolute Error: {:.2f}'.format(metrics.mean_absolute_error(y_test, predict)))  
    print('Mean Squared Error: {:.2f}'.format(metrics.mean_squared_error(y_test, predict)))  
    print('Root Mean Squared Error: {:.2f}'.format(np.sqrt(metrics.mean_squared_error(y_test, predict))))

Original Model

Method: Linear regression-AIC

Intercept: 19.87
      Coefficients
cyl      -1.399596
disp      0.000000
hp       -0.640331
drat      0.000000
wt       -2.600363
qsec      0.000000
vs        0.000000
am        0.000000
gear      0.000000
carb      0.000000

R2: 0.85
Mean Absolute Error: 1.75
Mean Squared Error: 3.82
Root Mean Squared Error: 1.95

Original Model

Method: Linear regression-BIC

Intercept: 19.87
      Coefficients
cyl      -1.399596
disp      0.000000
hp       -0.640331
drat      0.000000
wt       -2.600363
qsec      0.000000
vs        0.000000
am        0.000000
gear      0.000000
carb      0.000000

R2: 0.85
Mean Absolute Error: 1.75
Mean Squared Error: 3.82
Root Mean Squared Error: 1.95